{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Add Expense
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "split/single-group.css" %}">
{% endblock css %}

{% block content %}
{% include "split/include/group-header.html" %}

<div class="content">
  <h1 class="tx">Add an Expense</h1>

  <form id="expense-form" hx-target="#expense-form" hx-swap="outerHTML" hx-indicator="#loading-indicator"
    hx-post="{% url "add_expense" slug=group.slug %}">

    {% csrf_token %}

    {% comment %} For the expense model {% endcomment %}
    {% for field in form  %}
    <label for="{{field.label}}" style="float: left;">{{field.label}}</label>
    {% if field.label == "Amount" %}
    <div class="input-group mb-3">
      <span class="input-group-text fw-bold">£</span>
      {% render_field field class+="form-control fw-bold" placeholder=field.label %}
    </div>
    {% else %}
    {% render_field field class+="form-control fw-bold" placeholder=field.label %}
    {% endif %}

    {{field.errors}}
    {% endfor %}

    {% include "split/include/split-template.html" %}

    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-outline-primary p-2 fw-bold" type="submit">Add Expense</button>
      <a href="{% url "single-group" slug=group.slug %}" class="btn btn-warning p-2 mx-2 fw-bold">Cancel</a>
    </div>

    <div id="loading-indicator" class="htmx-indicator">
      Loading...
    </div>
  </form>

</div>

<script src="{% static "split/add-expense.js" %}"></script>
{% endblock content %}