{% extends "base.html" %}
{% load static %}
{% load filter_extra %}

{% block title %}Your Home{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "split/index.css" %}">
{% endblock css %}

{% block content %}

<div class="d-flex justify-content-between align-items-center fixed-top">
    <h1>Welcome, <span>{{username|title}}</span></h1>

    <a href="{% url "signout" %}" style="margin-left:8px">
        <button style="background-color:red;color:white">Signout</button>
    </a>
</div>

<div class="overall px-5">
    {% if amount < 0 %}
    <h4 class='mt-5'> Overall, you owe <span style="color:red;">£{{amount|abs}}</span> 💷</h4>
    {% else %}
    <h4 class='mt-5'> Overall, you are owed <span>£{{amount}}</span> 💷</h4>
    {% endif %}
</div>

<ul class="list-group">
    {% for GroupBalance in groupBalances %}

    <li class="list-group-item d-flex justify-content-between px-5 py-3">
        <div class="first d-flex align-items-center">
            <i class="fa-solid fa-user"></i>
            {{GroupBalance.group.name}}
        </div>

        {% if GroupBalance.balance == 0 %}
        <div class="second d-flex align-items-end flex-column">
            <div class="text-center m-auto" style="width: 100%;font-weight:bold;color:blue">
                SETTLED
            </div>
        </div>
        {% elif GroupBalance.balance < 0 %}
        <div class="second d-flex align-items-end flex-column">
            <div class="text-center m-auto" style="width: 100%;font-weight:bold;color:red">
                YOU OWE
            </div>
            <span class="badge rounded-pill text-bg-danger">£{{GroupBalance.balance|abs}}</span>
        </div>
        {% else %}
        <div class="second d-flex align-items-end flex-column">
            <div class="text-center m-auto" style="width: 100%;font-weight:bold;color:green">
                OWES YOU
            </div>
            <span class="badge rounded-pill text-bg-success">£{{GroupBalance.balance}}</span>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}