{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "split/single-group.css" %}">
{% endblock css %}

{% block title %}
{{group.name}}
{% endblock title %}

{% block content %}

{% include "split/include/group-header.html" %}

<div class="tools">
    <p class="fs-1 fw-bold font-monospace">
        You are owed, <span style="color:red;margin-left:10px">£800</span>
    </p>
    <a type="button" class="btn btn-outline-warning fw-bold">
        <i class="fa-solid fa-coins me-2" style="color:green"></i>Settle Up</a>

    <a type="button" href="{% url "add_expense" slug=group.slug%}" class="btn btn-outline-info fw-bold">
        <i class="fa-solid fa-file-invoice-dollar me-2" style="color:white"></i>New Expense
    </a>

    <a type="button" class="btn btn-outline-light fw-bold">
        <i class="fa-regular fa-eye me-2" style="color:grey"></i>Member's Split
    </a>
</div>

<ul class="transactions">
    <a href="">
        <li class="transaction fw-bold">
            <div class="date text-center">
                Feb <br>2025
            </div>
            <div class="desc">
                MO's noodles
            </div>
            <div class="bal text-success">
                You Lent <br>£100
            </div>
        </li>
    </a>

    <a href="">
        <li class="transaction fw-bold">
            <div class="date text-center">
                Jan <br>2025
            </div>
            <div class="desc">
                Rudy's Neapolitan Pizza
            </div>
            <div class="bal text-danger">
                You Borrowed <br>£100
            </div>
        </li>
    </a>
</ul>

{% comment %}
<div id="add-expense" class="add-expense">

</div>
<button type="button" id="add-expense-btn" class="btn btn-outline-info fw-bold" hx-get="{% url 'add_expense' %}"
    hx-target="#add-expense" hx-swap="innerHTML"></button>
<script>
    var addExpense = document.getElementById("add-expense");
    var addExpenseBtn = document.getElementById("add-expense-btn");

    addExpenseBtn.onclick = function () {
        addExpense.style.display = "block";
    }
</script>
{% endcomment %}
{% endblock content %}