{% extends "base.html" %}
{% load static %}
{% load filter_extra %}


{% block css %}
<link rel="stylesheet" href="{% static "split/single-group.css" %}">
{% endblock css %}

{% block title %}
{{group.name}}
{% endblock title %}

{% block content %}

{% include "split/include/group-header.html" %}

<div class="tools">
    <p class="fs-1 fw-bold font-monospace">
        {% if gb.balance < 0 %}
        You owe, <span style="color:red;margin-left:10px">£{{gb.balance|abs}}</span>
        {% else %}
        You are owed, <span style="color:green;margin-left:10px">£{{gb.balance|abs}}</span>
        {% endif %}
    </p>

    <a type="button" class="btn btn-outline-warning fw-bold" hx-get="{% url "settle" slug=group.slug %}"
        hx-target="#offcanvas-body" hx-swap="innerHTML" data-bs-toggle="offcanvas" href="#offcanvasSettlement">
        <i class="fa-solid fa-coins me-2" style="color:green"></i>Settle
    </a>

    <a type="button" href="{% url "add_expense" slug=group.slug%}" class="btn btn-outline-info fw-bold">
        <i class="fa-solid fa-file-invoice-dollar me-2" style="color:white"></i>New Expense
    </a>

    <a type="button" class="btn btn-outline-light fw-bold" data-bs-toggle="collapse" href="#collapse_split"
        hx-get="{% url "members_split" slug=gb.group.slug%}" hx-target="#split-content" hx-swap="innerHTML">
        <i class="fa-regular fa-eye me-2" id="eye" style="color:grey"></i>Member's Split
    </a>
</div>



<div class="collapse" id="collapse_split">
    <div class="card card-body mx-4 mb-2" id="split-content">
        <div id="loading-spinner" class="spinner"></div>
    </div>
</div>

{% if messages %}
<ul class="messages mx-4">
    {% for message in messages %}
    <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </li>
    {% endfor %}
</ul>
{% endif %}


<div class="offcanvas offcanvas-end text-bg-dark" style="width: fit-content;" tabindex="-1" id="offcanvasSettlement">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Make a Settlement</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" id="offcanvas-body">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<ul class="transactions">
    {% for expense in expenses  %}
    <a href="">
        <li class="transaction fw-bold">
            <div class="date text-center">
                {{expense.created_at|cus_date|safe}}
            </div>
            <div class="desc">
                {{expense.description}}
            </div>

            {% if expense.lent_or_borrowed < 0 %}

            <div class="bal text-danger">
                You Borrowed <br>£{{ expense.lent_or_borrowed|abs}}
            </div>

            {% elif  expense.lent_or_borrowed > 0  %}

            <div class="bal text-success">
                You Lent <br>£{{ expense.lent_or_borrowed}}
            </div>

            {% else %}
            <div class="bal text-primary">
                No Dues <br> £0
            </div>
            {% endif %}

        </li>
    </a>
    {% endfor %}

</ul>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const collapseSplit = document.getElementById('collapse_split');
        const eyeIcon = document.getElementById('eye');

        if (!collapseSplit || !eyeIcon) {
            // Element(s) not found, exit
            return;
        }

        collapseSplit.addEventListener('show.bs.collapse', function () {
            // Collapse is shown
            eyeIcon.classList.remove('fa-regular', 'fa-eye');
            eyeIcon.classList.add('fa-solid', 'fa-eye-slash');
        });

        collapseSplit.addEventListener('hide.bs.collapse', function () {
            // Collapse is hidden
            eyeIcon.classList.remove('fa-solid', 'fa-eye-slash');
            eyeIcon.classList.add('fa-regular', 'fa-eye');
        });
    });
</script>
{% endblock content %}