h1 {
    color: white;
    margin-top: 100px;
}

h1>span {
    color: green;
}

button {
    margin-top: 10px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}