*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #080710 !important;
}

.not-a-style {
    text-decoration: none;
    all: unset !important;
}

a {
    all: unset;
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit color from parent */
    display: inline-block;
    /* Prevent block-level behavior */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.errorlist {
    color: red;
}

.errorlist {
    list-style: none;
    text-align: left;
    margin: 10px 0;
    padding: 0;
}

.offcanvas {
    z-index: 10000 !important;
}