{% load filter_extra %}

<div class="d-flex flex-row flex-wrap justify-content-around">
    {% if not transactions %}
    <span style="font-size:1.3rem; font-weight:bold">
        All dues are settled !!!
    </span>
    {% endif %}
    {% for transaction in transactions  %}
    <span style="font-size:1.3rem">

        {{transaction.0|check_replace_username:request.user.username|safe}}
        need to pay
        {{transaction.1|check_replace_username:request.user.username|safe}}
        a sum of <b style="color:green"> £{{transaction.2}}</b>
    </span>
    {% endfor %}
</div>