{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "auth.css" %}">
{% endblock css %}

{% block content %}
<div class="background increased">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="POST" action="{% if is_login %}{% url 'login' %}{% else %}{% url 'register' %}{% endif %}">
    {% csrf_token %}
    {% if is_login %}
    <h3>Log In</h3>
    {% else %}
    <h3>Register</h3>
    {% endif %}

    {% if form.non_field_errors %}
    <div class="er_auth">
        {{form.non_field_errors}}
    </div>
    {% endif %}

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}

    {% for field in form  %}
    <label for="{{ field.id_for_label }}">
        {{ field.label|safe }}
    </label>
    {{field}}

    {% if field.id_for_label == "id_username" %}
    <div id="username-avail">
        <span style='color:yellow'> ⚠️ Spaces would be removed</span>
    </div>
    {% endif %}

    {% if field.errors %}
    <div class="er_single">
        <i class="fa-solid fa-triangle-exclamation"></i> {{field.errors}}
    </div>
    {% endif %}

    {% endfor %}

    {% if is_login %}
    <button type="submit">Log In</button>
    <a class="not-a-style" href="{% url 'register' %}">
        <div class="social">
            <div>
                <i class="fa-solid fa-user-plus"></i> New User? Register!
            </div>
        </div>
    </a>
    {% else %}
    <button type="submit">Register User</button>
    <a class="not-a-style" href="{% url 'login' %}">
        <div class="social">
            <div>
                <i class="fa-solid fa-user-plus"></i> Already Registered? Login!
            </div>
        </div>
    </a>
    {% endif %}

    {% if request.GET.info == "success" %}
    <div class="alert alert-success mt-3 text-center">
        Your account has been created! Please log in using {{request.GET.user}}'s cred.
    </div>
    {% endif %}
</form>
{% endblock content %}