{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "auth.css" %}">
{% endblock css %}

{% block content %}
<div class="background increased">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="POST" action="{% url "register" %}">
    {% csrf_token %}
    <h3>Register</h3>

    <label for="username"><i class="fa-solid fa-user"></i>Username</label>
    <input type="text" placeholder="Enter you name" name="username">

    <label for="username"><i class="fa-solid fa-envelope"></i>Email</label>
    <input type="email" placeholder="Email" name="email">

    <label for="password"><i class="fa-solid fa-key"></i>Password</label>
    <input type="password" placeholder="Password" name="password">

    <label for="password"><i class="fa-solid fa-key"></i>Confirm Password</label>
    <input type="password" placeholder="Re-type your Password" name="password_confirm">

    <button type="submit">Register User</button>
    <a class="not-a-style" href="{% url "login"%}">
        <div class="social">
            <div><i class="fa-solid fa-user-plus"></i> Already Registered? Login here! </div>
        </div>
    </a>
</form>
{% endblock content %}